<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeMakers JM</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Media/Icono.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="#" class="nav-logo">
          <h2 class="logo-text">⚙️📈</h2>
        </a>

        <ul class="nav-menu">
          <button id="menu-close-button" class="fas fa-times"></button>

          <li class="nav-item">
            <a href="#" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a href="#menu" class="nav-link">Portafolio</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Testimonio</a>
          </li> 
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contactanos</a>
          </li>
        </ul>

        <button id="menu-open-button" class="fas fa-bars"></button>
      </nav>
    </header>

    <main>
      <!-- Hero section -->
      <section class="hero-section">
        <div class="section-content">
          <div class="hero-details">
            <h2 class="title">CodeMakers JM</h2>
            <h3 class="subtitle">Transformamos tus ideas en soluciones web innovadoras</h3>
            <p class="description">Ofrecemos soluciones personalizadas en la creación de páginas web, enfocándonos en la calidad y la originalidad.</p>

            <div class="buttons">
              <a href="#menu" class="button order-now">Ver portafolio</a>
              <a href="#contact" class="button contact-us">Contactanos</a>
            </div>
          </div>
          <div class="hero-image-wrapper">
            <img src="{{ url_for('static', filename='Media/image.png') }}" alt="Coffee" class="hero-image">
          </div>
        </div>
      </section>

      <section class="about-section" id="about">
        <div class="section-content">
          <div class="about-image-wrapper">
            <img src="{{ url_for('static', filename='img/about.png') }}" alt="About" class="about-image">
          </div>
          <div class="about-details">
            <h2 class="section-title">Sobre nosotros</h2>
            <p class="text">En nuestra empresa nos enfocamos en brindar soluciones únicas y adaptadas a las necesidades específicas de cada cliente. Con un enfoque en la calidad y la innovación, trabajamos de la mano con nuestros clientes para entender sus desafíos y ofrecer aplicaciones que optimicen sus procesos y mejoren su eficiencia. Nuestro objetivo es crear herramientas que no solo satisfagan, sino que superen las expectativas, impulsando así el crecimiento y el éxito de cada negocio.</p>
            <div class="social-link-list">
              <a href="#" class="social-link"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </section>

<section class="projects-section" id="menu">
  <h2 class="section-title">Nuestros proyectos</h2>
  <div class="projects-content">
    <div class="projects-container">

      <div class="project-card card">
        <h3 class="name">Proyecto administrativo (SENA)</h3>
        <div class="card-image image-gallery">
          <div class="zoom-container">
            <img src="{{ url_for('static', filename='img/sena1.png') }} "alt="Proyecto administrativo (SENA) - Image 1" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
          <div class="zoom-container">
            <img src="{{ url_for('static', filename='img/sena2.png') }}" alt="Proyecto administrativo (SENA) - Image 2" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
        </div>
        <p class="text">Un proyecto destinado al área administrativa, diseñado para optimizar la gestión interna del SENA.</p>
      </div>
      <div class="project-card card">
        <h3 class="name">Times</h3>
        <div class="card-image image-gallery">
          <div class="zoom-container">

            <img src="{{ url_for('static', filename='img/agenda1.png' ) }}" alt="Project 2 - Image 1" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
          <div class="zoom-container">
            <img src="{{ url_for('static', filename='img/agenda2.png' ) }}" alt="Project 2 - Image 2" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
          <div class="zoom-container">
            <img src="{{ url_for('static', filename='img/agenda3.png') }}" alt="Project 2 - Image 3" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
        </div>
        <p class="text">Proyecto colaborativo aplicado a la gestión de horarios de una empresa.</p>
      </div>
      <div class="project-card card">
        <h3 class="name">HanammiRopa</h3>
        <div class="card-image image-gallery">
          <div class="zoom-container">

            <img src="{{ url_for('static', filename='img/hanami1.png' ) }}" alt="Project 2 - Image 1" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
          <div class="zoom-container">
            <img src="{{ url_for('static', filename='img/hanami2.png' ) }}" alt="Project 2 - Image 2" class="menu-image zoom-img" />
            <div class="zoom-icon" onclick="enableZoom(this)">🔍</div>
          </div>
        </div>
        <p class="text">Participacion en creacion de una eComerce de ropa y productos variados</p>
      </div>
    </div>
  </div>
</section>

<script>
function enableZoom(element) {
  const zoomContainer = element.parentElement;
  zoomContainer.classList.toggle('zoom-active');
}
</script>
<div id="imageModal" class="modal">
  <span class="close" onclick="closeModal()">&times;</span>
  <img class="modal-content" id="expandedImage">
  <div id="caption"></div>
</div>

      <section class="testimonials-section" id="testimonials">
        <h2 class="section-title">Testimonios</h2>
        <div class="section-content">
          <div class="slider-container swiper">
            <div class="slider-wrapper">
              <ul class="testimonials-list swiper-wrapper">
                <li class="testimonial swiper-slide">
                  <img src="{{ url_for('static', filename='Media/hanamiprofile.png')}}" alt="User" class="user-image" />
                  <h3 class="name">Jessica Paola</h3>
                  <i class="feedback">Gracias por el apoyar en la interfaz visual de nuestra pagina web eComerce. Recomendados</i>
                </li>
                <!--
                <li class="testimonial swiper-slide">
                  <img src="images/user-2.jpg" alt="User" class="user-image" />
                  <h3 class="name">James Wilson</h3>
                  <i class="feedback">"Great espresso blend! Smooth and bold flavor. Fast shipping too!"</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-3.jpg" alt="User" class="user-image" />
                  <h3 class="name">Michael Brown</h3>

                  <i class="feedback">"Fantastic mocha flavor. Fresh and aromatic. Quick shipping!"</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-4.jpg" alt="User" class="user-image" />
                  <h3 class="name">Emily Harris</h3>

                  <i class="feedback">"Excellent quality! Fresh beans and quick delivery. Highly recommend."</i>
                </li>
                <li class="testimonial swiper-slide">
                  <img src="images/user-5.jpg" alt="User" class="user-image" />
                  <h3 class="name">Anthony Thompson</h3>

                  <i class="feedback">"Best decaf I've tried! Smooth and flavorful. Arrived promptly."</i>
                </li>
              </ul>
-->
              <div class="swiper-pagination"></div>
              <div class="swiper-slide-button swiper-button-prev"></div>
              <div class="swiper-slide-button swiper-button-next"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="contact-section" id="contact">
        <h2 class="section-title">Contactanos</h2>
        <div class="section-content">
          <div class="container">
            <div class="Cont">
              <img class="Insta" src="{{ url_for('static', filename='/Media/icons8-instagram-300.png')}}" alt="" >
                <h4 class="nombre" >@CodeMakers_JM</h4>
                <a href="https://www.linkedin.com/in/yaid-santiago-mamian-giraldo-63341a29b/" class="boton">Instagram</a>
            </div>
            <div class="Cont">
              <img class="What" src="{{ url_for('static', filename='/Media/icons8-whatsapp-300.png')}}" alt="" >
              <h4 class="nombre">CodeMakers JM</h4>
              <a href="{{ url_for('whatsapp') }}" class="boton">Whatsapp</a>
          </div>
          
        </div>
        
      </section>
      <footer class="footer-section">
        <div class="section-content">
          <p class="copyright-text">© 2024 CodeMakers_JM</p>
          <h1>Software 100% colombiano</h1>
          <p class="policy-text">
            <a href="#" class="policy-link">Privacy policy</a>
            <span class="separator">•</span>
            <a href="#" class="policy-link">Refund policy</a>
          </p>
        </div>
      </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>